body {
  font-family: Helvetica, sans-serif;
}

/* SCORES AND CONTROL PANEL */

#panel {
  position: relative;
  min-width: 200px;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin: 0;
}

span {
  text-transform: uppercase;
}

button {
  min-width: 200px;
  cursor: pointer;
}

#buttons {
  position: relative;
  top: 60px;
}

/* GAME BOARD*/

.container {
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  height: 330px;
  padding: 15px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

div[id$="row"] {
  clear: both;
}

div[id$="row"] > div {
  height: 100px;
  width: 100px;
  background-color: rgb(19,237,121);
  border-radius: 5px;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  float: left;
  margin: 5px;
  cursor: pointer;
}

/* JS-RENDERED CLASSES */

.taken {
  background-color: rgb(242,94,126);
}
